# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/

# Generated dart files.
**/*.g.dart

# Visual Studio Code files.
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix